version: '3.9'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    ports:
      - "6380:6379"

  server:
    build: ./server
    env_file: ./.env
    depends_on: [postgres, redis]
    ports:
      - "4000:4000"

  client:
    build: ./client
    env_file: ./.env
    depends_on: [server]
    ports:
      - "3000:3000"
